@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: LexendDeca;
    src: url("/fonts/LexendDeca-Regular.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body{

    height: 100vh;
    font-family: LexendDeca, sans-serif;
    background-color: var(--grey);

}


.content {
    width: 100%;
    margin: 0 auto;
}


.content header {
    padding: 4.8rem 2rem;
    background-image: var(--linear);
}


.content header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.1rem;
}

.content header nav a {
    color: var(--white);
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-decoration: none;
}

.content header div {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding: 1rem .7rem 1rem .7rem;
}

.content header div img {
    margin-right: 1.1rem;
    width: 20px;
    height: 20px;
}

.content header div input {
    background-color: transparent;
    color: var(--white);
    font-size: 1.4rem;
    font-family: Inter;
    line-height: 1.7rem;
    outline: none;
    width: 100%;

}

.content header div input::placeholder {
    font-size: 1.4rem;
    color: var(--white);
    opacity: 0.5;
}

.content main {
    padding: 5rem 2rem;
}

.content main .container-post {
    background: var(--white);
    box-shadow: 0rem 0rem 1rem rgba(19, 19, 31, 0.05);
    border-radius: .5rem;
    padding: 1.4rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
}

.content main .container-post div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.content main .container-post div span {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text);
}

.content main .container-post h2 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--title);
    margin-bottom: .9rem;
    font-weight: 400;
}

.content main .container-post p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: var(--text);
}

@media(min-width: 767.98px) {

    .content header {
        padding: 4.1rem 20rem;
    }
    
    
    .content header nav {
        margin-bottom: 7.3rem;
    }
    
    .content header nav a {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    
    .content header div {
        padding: 1.8rem 1.7rem 1.7rem 1.7rem;
    }
    
    .content header div img {
        margin-right: 1.7rem;
        width: 30px;
        height: 30px;
    }
    
    .content header div input {
        font-size: 1.8rem;
        font-family: Inter;
        line-height: 2.2rem;    
    }
    
    .content header div input::placeholder {
        font-size: 1.8rem;
    }
    
    .content main {
        padding: 10rem 20rem;
    }
    
    .content main .container-post {
        padding: 2.2rem 2.5rem 2.5rem 2.5rem;
        margin-bottom: 5rem;
    }
    
    .content main .container-post div {
        margin-bottom: 2rem;
    }
    
    .content main .container-post div span {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    
    .content main .container-post h2 {
        font-size: 2.6rem;
        line-height: 3.2rem;
        margin-bottom: .8rem;
    }
    
    .content main .container-post p {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

}